/** Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/** font-family: "Open Sans", sans-serif; */

/** Resetleme */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Renk Tanımlama */
:root {
    --color-primary:#006241;
    --color-secondary:#d50032;
    --color-extra:#d4e9e2;
}

/** Ortak Yapılar */
body {
    font-family: "Open Sans", sans-serif;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style-type: none;
}

p{
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

/** Navbar */

.navbar {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar li {
    font-weight: bold;
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: var(--color-primary);
}

.nav-logo img {
    /* Burada resime max-width 100% verdik. Bundan dolayı bir kapsayıcı çerçeve çizmek durumunda kaldık. */
    width: 70px;
    height: 50px;
}

.navbar-left {
    text-transform: uppercase;
    margin-left: 20px;
    /* flex:1 kapsayıcı içerisindeki kalan tüm alanı bana ver demektir. */
    flex: 1;
}

.navbar-right li :first-child a {
    display: flex;
    align-items: center;
}

.navbar-right li a i {
    font-size: 25px;
    margin-right: 10px;
}

.navbar-right li :nth-child(2) {
    margin: 0 5px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px solid #000;
    padding: 7px 16px;
    border-radius: 50px;
    line-height:  1.2;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-dark-outline {
    border-color: #000;
    color: #000;
    text-decoration: none;
}

.btn-dark-outline:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-light-outline:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
}

.btn-light-outline {
    border-color: white;
    color: #fff;
    text-decoration: none;
}


/** Box Alanı */
.box {
    margin-bottom: 30px;
}

.box-inner {
    max-width: 700px;
    margin: 0 auto;
}

.box-text {
    text-align: center;
    max-width: 500px;
    padding: 20px 0;
    margin: 0 auto;
}

.box-f .box-text {
    max-width: 600px;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 600;
}

.text-md {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm {
    font-size: 19px;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.bg-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.bg-extra {
    background-color: var(--color-extra);
}

.py-md {
    padding: 20px 0;
}

.py-lg {
    padding: 40px 0;
}

.grid-col-2 {
    display: grid;
    /* Kapsayıcı içerisindeki iki eleman (img ve box-text) eşit şekilde yer kaplar */
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.grid-reversed :first-child {
    /* Bu sayede grid yapısındaki elemanı ters çevirdik */
    order: 2;
}

/** Divider */
.divider {
    width: 95%;
    height: 1px;
    background-color: #ccc;
    margin: 40px auto;
}

/** Footer */
footer {
    text-align: center;
}

.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.social a {
    font-size: 40px;
    margin-right: 20px;
}

.created-by {
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    padding: 10px 30px;
}

.created-by span {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

/** Responsive Tasarım */

@media (max-width: 1000px) {
    .navbar-left a {
        display: none;
    }
}

@media (max-width: 950px) {
    .text-xl {
        font-size: 30px;
    }

    .text-md {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .navbar-left a {
        display: none;
    }

    .text-xl {
        font-size: 25px;
    }

    .text-md {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .navbar-right li:first-child a {
        display: none;
    }
}